appdirs==1.4.4
atomicwrites==1.4.0
awkward==2.8.7
awkward_cpp==48
boost-histogram==1.7.2
click-default-group==1.2.4
colorlog==6.9.0
cramjam==2.11.0
hist==2.10.1
histoprint==2.6.0
jsonpointer==2.1
lightgbm==4.6.0
matplotlib==3.10.0
mplhep==0.4.0
mplhep_data==0.0.4
optuna==4.4.0
plotext==5.3.2
pyasn1-modules==0.2.8
Pygments==2.20.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
rich==15.0.0
setuptools==72.1.0
textual==8.2.3
torch==2.7.1
torch-geometric==2.6.1
uhi==0.5.0
uproot==5.6.4
uproot_browser==0.8.4
wheel==0.45.1
xgboost==3.0.2
xxhash==3.5.0
